* {
  font-family: Arial, Helvetica, sans-serif;
}

#bs-example-navbar-collapse-1 {
  margin: 0px;
  border: 0px;
}

#text-title {
  margin-top: 0px;
  font-weight: bold;
}

#title {
  font-weight: bold;
}

#brand {
  font-weight: bold;
  font-size: 175%;
  color: black;
}

#button {
  background-color: gray;
  border: 2px solid black;
}

.icon-bar {
  border: 1px solid black;
}

.jumbotron {
  padding-top: 15px;
  background-color: gray;
  border: 3px solid black;
}

.row {
  margin: 15px;
  margin-top: 15px;
}

.navbar {
  background-color: gray;
  border: 3px solid black;
}

.nav .navbar-text {
  color: black;
  font-size: 150%;
  font-weight: bold;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border: 1px solid black;
}
